@import './themes/variables';

syntax-highlighter {
	.syntaxhighlighter__hidden {
		display: none;
	}
	pre {
		border-radius: 5px;
	}
	// toolbar css
	div.syntaxhighlighter__code-toolbar {
		position: relative;
	}

	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar {
		position: absolute;
		top: 0.3em;
		right: 0.2em;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
	}

	div.syntaxhighlighter__code-toolbar:hover > .syntaxhighlighter__toolbar {
		opacity: 1;
	}

	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar .syntaxhighlighter__toolbar-item {
		display: inline-block;
	}

	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar a {
		cursor: pointer;
	}

	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar button {
		background: none;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		padding: 0;
		-webkit-user-select: none; /* for button */
		-moz-user-select: none;
		-ms-user-select: none;
	}

	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar a:hover,
	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar a:focus,
	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar button:hover,
	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar button:focus,
	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar span:hover,
	div.syntaxhighlighter__code-toolbar > .syntaxhighlighter__toolbar span:focus {
		color: inherit;
		text-decoration: none;
	}
	.light {
		@import './themes/light.scss';
		.syntaxhighlighter__code-toolbar {
			pre {
				border-top: solid 10px #2170c4;
			}
			.syntaxhighlighter__toolbar {
				opacity: 1;

				.syntaxhighlighter__language-label,
				.syntaxhighlighter__copy-button {
					color: white;
					font-size: 12px;
					font-weight: bolder;
					padding: 8px;
					background: #2170c4;
					box-shadow: none;
					border-radius: 5px;
					margin-right: 10px;
					font-family: $codingFonts;
				}

				.syntaxhighlighter__language-label:hover {
					color: white;
				}

				.syntaxhighlighter__copy-button:before {
					content: '📋';
					margin-right: 2px;
				}

				.syntaxhighlighter__copy-button:hover {
					color: yellow;
				}
			}
		}
	}

	.dark {
		@import './themes/dark.scss';
		.syntaxhighlighter__code-toolbar {
			pre {
				border-top: solid 10px #f26428;
				white-space: pre-wrap;
			}
			.syntaxhighlighter__toolbar {
				opacity: 1;

				.syntaxhighlighter__language-label,
				.syntaxhighlighter__copy-button {
					color: white;
					font-size: 12px;
					font-weight: bolder;
					padding: 8px;
					background: #f26428;
					box-shadow: none;
					border-radius: 5px;
					margin-right: 10px;
					font-family: $codingFonts;

					border: none;
					cursor: pointer;
					text-decoration: underline;
					display: inline;
				}

				.syntaxhighlighter__language-label:hover {
					color: white;
				}

				.syntaxhighlighter__copy-button:before {
					content: '📋';
					margin-right: 2px;
				}

				.syntaxhighlighter__copy-button:hover {
					color: #f9b038;
				}
			}
		}
	}
}
